# Ignore specific file
.env

# Ignore files with a specific extension
.csv
.pyc

# Ignore entire directory
database/__pycache__

# Exclude files in a specific directory
csv/*.csv
database/__pycache__/*.pyc
